<!doctype html>
<html ng-app="campus360">

<head>
    <meta charset="UTF-8">
    <title>College Dashboard</title>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-controller="dashboardController">

    <h1>{{collegeName}}</h1>

    <input type="text"
           ng-model="collegeName">

    <br><br>

    <input type="number"
           ng-model="totalStudents">

    <p ng-class="{'green': totalStudents >= 1000, 'red': totalStudents < 1000}">
        
        Total Students : {{totalStudents}}</p>

    <button ng-click="addStudent()">
        Add Student
    </button>

    <br><br>

    <input type="number"
           ng-model="totalFaculty">

    <p ng-style="{ 'color': totalFaculty >= 100 ? 'green' : 'red', }">
       <b>Total Faculty : {{totalFaculty}}</p></b> 

    <button ng-click="totalFaculty = totalFaculty + 1">
        Add Faculty
    </button>

    <hr>

    <h2>Student List</h2>

    <button ng-click="showStudents = !showStudents">
       Show Students
    </button>

    <ul ng-show="showStudents">
        <li ng-repeat="student in students">
            {{student}}
        </li>
    </ul>
<hr>
<h2>Filter Demo</h2>
<p>Uppercase:{{collegeName | uppercase}}</p>
<p>Lowercase:{{collegeName | lowercase}}</p>
<p>Currency:{{fees | currency}}</p>
<p> Date: {{today | date:'dd/MM/yyyy' }}</p>
<p>TotalStudents : {{ totalStudents | number:2}}</p>

<hr>

<h2>Selected Department</h2>

<label for="department">Choose a Department</label>
<br>
<br>
<select ng-model="selectDepartment"
        ng-options="department for department in departments">
</select>
<p>
    
    Selected Department : {{selectDepartment}}
</p>
<hr>





</body>

</html>