<!doctype html>
<html ng-app="campus360">

    <head>
        <meta charset="UTF-8">
        <title>College Dashboard</title>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body ng-controller="dashboardController">

        <h1>{{collegeName}}</h1>

        <input type="text" ng-model="collegeName">

        <br><br>

        <input type="number" ng-model="totalStudents">

        <p ng-class="{'green': totalStudents >= 1000, 'red': totalStudents < 1000}">

            Total Students : {{totalStudents}}</p>

        <button ng-click="addStudent()">
            Add Student
        </button>

        <br><br>

        <input type="number" ng-model="totalFaculty">

        <p ng-style="{ 'color': totalFaculty >= 100 ? 'green' : 'red', }">
            <b>Total Faculty : {{totalFaculty}}
        </p></b>

        <button ng-click="totalFaculty = totalFaculty + 1">
            Add Faculty
        </button>

        <hr>

        <h2>Student List</h2>

        <button ng-click="showStudents = !showStudents">
            Show Students
        </button>

        <ul ng-show="showStudents">
            <li ng-repeat="student in students">
                {{student}}
            </li>
        </ul>
        <hr>
        <h2>Filter Demo</h2>
        <p>Uppercase:{{collegeName | uppercase}}</p>
        <p>Lowercase:{{collegeName | lowercase}}</p>
        <p>Currency:{{fees | currency}}</p>
        <p> Date: {{today | date:'dd/MM/yyyy' }}</p>
        <p>TotalStudents : {{ totalStudents | number:2}}</p>

        <hr>

        <h2>Selected Department</h2>

        <label for="department">Choose a Department</label>
        <br>
        <br>
        <select ng-model="selectDepartment" ng-options="department for department in departments">
        </select>
        <p>

            Selected Department : {{selectDepartment}}
        </p>
        <hr>

        <h2>Department Info</h2>
        <div ng-switch="selectDepartment">

            <div ng-switch-when="CSE">
                <h3>Computer Science and Engineering</h3>
                <p>Department of Computer Science and Engineering (CSE) is one of the most sought after departments in
                    the field of engineering. It offers a comprehensive curriculum that covers various aspects of
                    computer science, including programming, algorithms, data structures, software engineering, and
                    more.</p>
            </div>
                <div ng-switch-when="IMCA">
                    <h3>Information Management and Computer Applications</h3>
                    <p>The IMCA department focuses on the integration of information technology and management
                        principles. It equips students with the skills needed to manage information systems, analyze
                        data, and make informed business decisions.</p>

                </div>
                <div ng-switch-when="MCA">
                    <h3>Master of Computer Applications</h3>
                    <p>The MCA department offers advanced studies in computer applications, preparing students for
                        careers in software development, database management, and IT consulting. The program emphasizes
                        practical skills and industry-relevant knowledge.</p>

                </div>

                <div ng-switch-when="Mech">
                    <h3>Mechanical Engineering</h3>
                    <p>The Mechanical Engineering department focuses on the design, analysis, and manufacturing of
                        mechanical systems. Students gain expertise in areas such as thermodynamics, fluid mechanics,
                        and materials science.</p>

                </div>
                <div ng-switch-when="Civil">
                    <h3>Civil Engineering</h3>
                    <p>The Civil Engineering department is dedicated to the planning, design, and construction of
                        infrastructure projects. Students learn about structural engineering, transportation systems,
                        and environmental sustainability.</p>

                </div>
                <div ng-switch-when="EEE">
                    <h3>Electrical and Electronics Engineering</h3>
                    <p>The EEE department focuses on the study of electrical systems, electronics, and power generation.
                        Students gain knowledge in areas such as circuit design, control systems, and renewable energy
                        technologies.</p>

                </div>
                <div ng-switch-when="MBA">
                    <h3>Master of Business Administration</h3>
                    <p>The MBA department offers a comprehensive program in business management, covering areas such as
                        finance, marketing, human resources, and strategic planning. Students develop leadership skills
                        and business acumen to excel in the corporate world.</p>

                </div>
              <div ng-switch-default>
                <h3>Please select a Department </h3>

              </div>
            </div>
        </div>

<hr>
        <h2>ng-init Demo</h2>
<div ng-init="collegeCode='CS123'; location='Kochi'">    
    <p>College Code : {{collegeCode}}</p>
    <p>College Location : {{location}}</p>

</div>
<hr>

<h2>ng-disable demo</h2>
<button ng-click="allowAdmission()">
    Allow Admission

</button>

<br><br><br>

<button ng-disabled="isDisabled">
    Admission

</button>


<br><br>


<hr>

<h2>ng-readonly demo</h2>

<label> College  id</label>

<br><br><br>


<input type="text" ng-model="" ng-readonly="isReadonly">

<br><br>
<button ng-click="isReadonly = !isReadonly">
    Toggle Readonly
</button>
<p>Readonly status : {{isReadonly}}
</p>

<hr>
<br><br>


<h2>Student Registration</h2>
<form name="studentForm">
<label >
        Student Name : 
</label>
<input type="text"  name="studentName"  ng-model="studentNameForm" ng-minlength="4" ng-maxlength="15" required />
<p ng-show="studentForm.studentName.$touched && studentForm.studentName.$error.required" style="color:red">
    Student Name is required</p>
    <p ng-show="studentForm.studentName.$touched && studentForm.studentName.$error.minlength" style="color:red">
    Student Name must be Atleast 4 Characters</p>

    <p ng-show="studentForm.studentName.$touched && studentForm.studentName.$error.maxlength" style="color:red">
    Student Name must be no more than 15 Characters</p>
<br><br>
<label >  
        Student Email :
</label>
<input type="email" ng-model="studentEmailForm"  name="studentEmail" required />

<p ng-show="studentForm.studentEmail.$touched && studentForm.studentEmail.$error.required" style="color:red">
    Student Email is required</p>
<br><br>
<label > Student Phone :
</label>
<input type="tel" ng-model="studentPhoneForm" />
<br><br>    




<label > Student Age :      
</label>
<input type="number" ng-model="studentAgeForm" />
<br><br>
<label > Student Department :   
</label>
<select ng-model="studentDepartmentForm" ng-options="department for department in departments" list="departmentsList" ></select>
<br><br>


<label> Student Gender :
</label>    
<input type="radio" ng-model="studentGenderForm" value="Male"> Male
<input type="radio" ng-model="studentGenderForm" value="Female"> Female
<br><br>



<label> Student Address :
</label>
<input type="text" ng-model="studentAddressForm"/ >
<br><br>
<button type="submit" >Register</button>
<button type="reset" >Reset</button>

</form>

<hr>
<br><br>

<h2>Form Status</h2>

<p>Form Valid : {{studentForm.$valid}}</p>
<p>Form Invalid : {{studentForm.$invalid}}</p>
<p>Form Pristine : {{studentForm.$pristine}}</p>
<p>Form Dirty : {{studentForm.$dirty}}</p>
<p>Form Submitted : {{studentForm.$submitted}}
</p>
<br><br>

<p>Student Name Valid : {{studentForm.studentName.$valid}}</p>
<p>Student Name Invalid : {{studentForm.studentName.$invalid}}</p>
<p>Student Name error required : {{studentForm.studentName.$error.required}}</p>







    </body>

</html>